$branco: rgba(255, 255, 255, 1);

$cl-01: rgba(245, 245, 245, 1);
$cl-02: rgba(224, 224, 224, 1);
$cl-03: rgba(204, 204, 204, 1);
$cl-04: rgba(184, 184, 184, 1);
$cl-05: rgba(163, 163, 163, 1);

$cm-01: rgba(61, 61, 61, 1);
$cm-02: rgba(51, 51, 51, 1);
$cm-03: rgba(41, 41, 41, 1);

$cd-01: rgba(30, 30, 30, 1);
$cd-02: rgba(26, 26, 26, 1);
$cd-03: rgba(20, 20, 20, 1);
$cd-04: rgba(10, 10, 10, 1);